 /* Add hover effect for navbar links */
 .navbar-nav .nav-link:hover {
    background-color: #aa43d7;
    color: white !important; /* Changes text color to a gold-like color on hover */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
    border-radius: 10px;

  }

  /* Optional: Add hover effect for the search button */
  .btn-outline-light:hover {
    background-color:#aa43d7;
    color: #000 !important; /* Changes text color to black */
    border-color:#aa43d7;
    transition: background-color 0.3s ease, color 0.3s ease;
  }