img {
    object-fit: contain;
    width: 100%;
    height: 600px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.6); /* Black background with 60% opacity */
    padding: 15px;
    border-radius: 10px; /* Adds rounded corners */
    /* color: white; White text for better readability */
    text-align: center;
}

.carousel-caption h3 {
    font-size: 1.5rem; /* Adjust the font size for the title */
    margin-bottom: 10px; /* Space between title and description */
    font-weight: bold;
}

.carousel-caption p {
    font-size: 1rem; /* Adjust font size for description */
    margin: 0;
}


.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
    border-radius: 5px;
}


