.card {
    border-radius: 10px;
  }
  
  .table img {
    height: 100px;
    object-fit: cover;
    width: auto;
  }
  
  .card-header {
    border-radius: 10px 10px 0 0;
  }

  .bg{
    background-color:#b066cf;
  }